{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col l3" id="sticky-left">
        <div class="container center-align">
          <a href="/">
            <img src="{% static 'images/Zephyr-Logo.png' %}" class="responsive-img"
              style="margin-top: 10px; width: 80%;" />
          </a>
        </div>
        <hr />
        {% if user.is_authenticated %}
        <div class="user_info" style="margin-bottom: 16px;">
          <div class="user-avatar">
            <img src="https://api.dicebear.com/6.x/pixel-art/svg?seed={{user.username}}" alt="" />
          </div>
          <div class="user-names">
            <span class="username">{{ user.username }}</span>
            <span class="displayname">{{ user.email }}</span>
          </div>
        </div>

        <div>
          <form action="{% url 'post_create' %}" method="POST" style="display: flex; flex-direction: column;">
            {% csrf_token %}
            <div class="form-group">
              <textarea id="id_content" name="content" class="post-form" placeholder="What's on your mind?"></textarea>
            </div>
            <input type="submit" class="post-button" value="Post" />
          </form>
        </div>

        {% else %}

        <p class="left-align" style="color: var(--sec-font-color); font-size: 13px;">Unlock a personalized experience by
          logging in to
          your account.
          Seamlessly create posts, effortlessly filter through your own content and favorites, and explore other
          intriguing profiles.</p>

        <a href="{% url 'signup' %}" class="signupbtn">
          <div>Create Account</div>
        </a>
        <a href="{% url 'login' %}" class="loginbtn">
          <div>Login</div>
        </a>
        {% endif %}

        <div class="tiny-nav">
          <a href="https://github.com/wcerteza/Zephyr">Project Zephyr</a>
          <a href="https://trello.com/b/pyqT9my7/zephyr">Making Zephyr</a>
          <a href="https://www.linkedin.com/in/will-certeza/">Will Certeza</a>
          <a href="https://www.linkedin.com/in/savinolugo/">Savino Lugo</a>
          <a href="https://www.linkedin.com/in/kendallamar/">His Royal Freshness</a>
          <a href="https://www.linkedin.com/in/anthonyjmedina/">Anthony Medina</a>
        </div>
      </div>
      <div class="col l6 blue-grey darken-3" id="stream">
        {% block content %} {% endblock %}
      </div>
      </a>
      <div class="col l3" id="sticky-right">
        <ul class="right-nav">
          <a href="{% url 'stream' %}" {% if title == "Welcome To The Stream | Zephyr" %} class="active" {% endif %}>
            <i class="fa-solid fa-house" style="margin-right: 0.5em;"></i>Home
          </a>
          <a href="{% url 'about' %}">
            <i class="fa-solid fa-hashtag" style="margin-right: 0.5em;"></i>About
          </a>
          <a href="{% url 'my_profile'%}" {% if title == 'Welcome Home' %} class="active" {% endif %}>
            <i class="fa-solid fa-user" style="margin-right: 0.5em;"></i>Profile
          </a>
        </ul>
        <hr>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="logoutbtn">
          <div>Log Out</div>
        </a>
        {% endif %}
      </div>

    </div>
  </div>

</body>

</html>
