{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col l3" id="sticky-left">
        <a href="/">
          <img src="{% static 'images/Zephyr-Web.png' %}" class="responsive-img" alt="" />
        </a>
        <hr />
        {% if user.is_authenticated %}
        <div class="user_info">
          <div class="user-avatar"></div>
          <div class="user-names">
            <span class="username">{{ user.username }}</span>
            <span class="displayname">{{ user.email }}</span>
          </div>
        </div>

        <div>
          <form action="{% url 'post_create' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_title">Title:</label>
              <input type="text" id="id_title" name="title" class="form-control grey lighten-2">
            </div>
            <div class="form-group">
              <label for="id_content">Content:</label>
              <textarea id="id_content" name="content" class="form-control grey lighten-2"></textarea>
            </div>
            <input type="submit" class="btn" value="Post" />
          </form>
        </div>


        <a href="{% url 'logout' %}" class="logoutbtn">
          <div>Log Out</div>
        </a>
        {% else %}
        <a href="{% url 'signup' %}" class="signupbtn">
          <div>Create Account</div>
        </a>
        <a href="{% url 'login' %}" class="loginbtn">
          <div>Login</div>
        </a>
        {% endif %}
      </div>
      <div class="col l6 blue-grey darken-2" id="stream">
        {% block content %} {% endblock %}
      </div>
      </a>
      <div class="col l3" id="sticky-right">
        <ul>
          <a href="{% url 'stream' %}">
            <li><i class="fa-solid fa-house" style="margin-right: 0.5em;"></i>Home</li>
          </a>
          <li><i class="fa-solid fa-hashtag" style="margin-right: 0.5em;"></i>About</li>
          <a href="{% url 'profile'%}">
            <li><i class="fa-solid fa-user" style="margin-right: 0.5em;"></i>Profile</li>
          </a>
        </ul>
        <p>Login to follow profiles or hashtags, favourite, share and reply to posts. You can also interact from your
          account on a different server.</p>
      </div>
    </div>
  </div>

</body>

</html>