{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col l3">
      <img
        src="{% static 'images/Zephyr-Web.png' %}"
        class="responsive-img"
        alt=""
      />
      <hr />
      <div class="user-card">
        <div class="user-profile"></div>
        <div class="user-names">
          <h6>Display Name</h6>
          <h7>@Username</h7>
        </div>
      </div>

      <form action="{% url 'post_create' %}" method="POST">
        {% csrf_token %} {{ posts_form.as_p }}
        <input type="submit" class="btn" value="Post" />
      </form>
    </div>

    <div class="col l6 blue-grey darken-2">
      <h1>Hello</h1>

      {% for post in posts %}
      <h2>{{ post.user }}</h2>
      <p>{{ post.title }}</p>
      <p>{{ post.content }}</p>
      <p>{{ post.created_at }}</p>

      {% endfor %}
    </div>
  </div>
</div>
