{% extends 'posts_base.html' %}
<!-- ## -->
{% load static %}
<!-- ## -->
{% load humanize %}
<!-- ## -->
{% block content %} {% for post in posts %}

<div class="post">
  <div class="post-info">
    <p class="post_relative-time">{{ post.updated_at|naturaltime }}</p>
    <div class="user_info">
      <div class="user-avatar">
        <img src="https://api.dicebear.com/6.x/pixel-art/svg?seed={{post.user}}" alt="" />
      </div>
      <div class="user-names">
        <a href="{% url 'user_profile' post.user.id %}">
          <span class="username">{{ post.user }}</span>
        </a>
        <span class="displayname">{{ post.user.email }}</span>
      </div>
    </div>
  </div>
  <a href="{% url 'detail' post.id %}">
    <p>{{ post.title }}</p>
    {% for attachment in post.attachments %}
    <img class="post-image" src="{{ attachment.url }}" />
    {% endfor %}
  </a>
</div>

<div class="action-bar">
  {% if user.is_authenticated %}
  <a href="{% url 'detail' post.id  %}" class="post-action"><i class="fa-solid fa-comment"></i></a>
  <form action="{% url 'like_post' %}?post_id={{ post.id }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}" />
    {% if user not in post.liked.all %}
    <button type="submit" class="heart">
      <i class="fa-solid fa-heart"></i><strong>{{ post.liked.all.count }} likes</strong>
    </button>
    {% else %}
    <button type="submit" class="heart">
      <i class="fa-solid fa-heart"></i><strong>{{ post.liked.all.count }} likes</strong>
    </button>
    {% endif %}
  </form>
  {% endif %}
</div>
<hr />
{% endfor %} {% endblock %}