{% extends 'accounts_base.html' %} {% load static %} {% block content %}

<p class="red-text">{{error_message}}</p>

<div
  id="form-container"
  class="container"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <img
    src="{% static 'images/Zephyr-Logo.png' %}"
    class="responsive-img"
    style="width: 30%"
  />
  <h3>Create an Account</h3>
  <p style="font-weight: bold">
    Start connecting with people from all over the Zephyr network.
  </p>
  <form id="create-form" action="{% url 'signup' %}" method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="create-user-button">Create</button>
  </form>
</div>
{% endblock %}
