{% extends 'posts_base.html' %} {% block content %}

<h2>{{ post.user }}</h2>
<p>{{ post.title }}</p>
<p>{{ post.content }}</p>
<p>{{ post.created_at }}</p>

{% if user.is_authenticated and user.id == post.user.id %}
<div class="card-action">
  <a href="{% url 'posts_update' post.id %}">Edit</a>
  <a href="{% url 'posts_delete' post.id %}">Delete</a>
</div>

<form method="post" action="{% url 'comment_create' post.id %}">
  {% csrf_token %}
  <textarea name="content" rows="4" cols="50"></textarea>
  <br />
  <button type="submit">Submit</button>
</form>

{% for comment in post.comment_set.all %}
<p>{{ comment.user }}</p>
<p>{{ comment.content }}</p>
<p>{{ comment.created_at }}</p>
{% endfor %} {% else %} {% endif %} {% endblock %}
