:root {
  font-family: 'Manrope', sans-serif;
  --main-bg-color: #263238;
  --stream-bg-color: #455a64;
  --main-font-color: white;
  --sec-font-color: rgba(255, 255, 255, 0.4);
  --hr-color: rgba(255, 255, 255, 0.2);
  --comments-section-bg-color: #37474f;
}

::placeholder {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

#sticky-left, #sticky-right {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#tuna {
  display: flex !important;
  flex-direction: row !important;
  overflow: hidden;
}

#stream {
  padding: 0px;
  overflow: hidden;
}

.row {
  margin-bottom: 0px;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

ul {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.user-profile {
  background-color: black;
  height: 46px;
  width: 46px;
  gap: 10px;
}

.user-names {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.logoutbtn {
  font-weight: 600;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: solid;
  border-color: #4D4DFF;
  border-radius: 10px;
  padding: 10px;
  width: 250x;
  height: 45px;
  color: #4D4DFF
}

.signupbtn {
  font-weight: 600;
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: #4D4DFF;
  border-radius: 10px;
  padding: 10px;
  width: 250x;
  height: 45px;
  color: white
}

.loginbtn {
  font-weight: 600;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: solid;
  border-color: #4D4DFF;
  border-radius: 10px;
  padding: 10px;
  width: 250x;
  height: 45px;
  color: #4D4DFF
}

.post-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.user-avatar {
  width: 46px;
  height: 46px;
  background-color: aquamarine;
}

.user_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.username {
  font-weight: 600;
  line-height: 16px;
}

.displayname {
  line-height: 30px;
  color: var(--sec-font-color);
}

.post_relative-time {
  margin: 0px;
  color: var(--sec-font-color)
}

hr {
  border: 0.1rem solid var(--hr-color);
}

.post {
  margin: 24px auto;
  padding: 0px 20px;
  color: white;
}

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px auto;
  color: var(--sec-font-color);
}

.detail-meta {
  font-size: 13px;
}

.comment-section {
  background-color: var(--comments-section-bg-color);
  padding: 20px;
}

.comment {
  margin: 24px auto;
  color: white;
}

.heart {
  background-color: transparent;
  color: white;
  border: none;
}

.fa-heart {
  margin-right: 5px;
}
