:root {

  --main-bg-color: #282C37;
  --stream-bg-color: #455a64;
  --main-font-color: white;
  --inactive-nav-color: rgba(255, 255, 255, 0.6);
  --sec-font-color: rgba(255, 255, 255, 0.4);
  --hr-color: rgba(255, 255, 255, 0.2);
  --comments-section-bg-color: #37474f;
  --zephyr-green: #00E2A5;
  --zephyr-green-hover: #00f8b6;
}

::placeholder {
  color: black;
}

*:focus{
  outline: none;
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

ul {
  display: flex;
  flex-direction: column;
}

#sticky-left, #sticky-right {
  position: sticky;
  top: 0px;
  height: 100vh;
}

/* left-nav */

.logoutbtn {
  font-weight: 600;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: solid;
  border-color: #4D4DFF;
  border-radius: 10px;
  padding: 10px;
  width: 250x;
  height: 45px;
  color: #4D4DFF
}

.signupbtn {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00E2A5;
  border-radius: 10px;
  width: 290px;
  height: 38px;
  color: var(--main-bg-color);
  margin: 12px 0px;
}

.loginbtn {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: var(--zephyr-green);
  border-radius: 10px;
  padding: 17px 6px;
  width: 290px;
  height: 22px;
  color: var(--zephyr-green);
}

/* center-nav  */

#stream {
  padding: 0px;
  overflow: hidden;
}

.row {
  margin-bottom: 0px;
}

main {
  flex: 1 0 auto;
}

.post {
  margin: 24px auto;
  padding: 0px 20px;
  color: white;
}

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px auto;
  color: var(--sec-font-color);
}

.detail-meta {
  font-size: 13px;
}

.comment-section {
  background-color: var(--comments-section-bg-color);
  padding: 20px;
}

.comment {
  margin: 24px auto;
  color: white;
}

.heart {
  background-color: transparent;
  color: white;
  border: none;
}

.fa-heart {
  margin-right: 5px;
}


/* right-nav */

.right-nav a {
  margin: 6px 0;
  color: var(--inactive-nav-color);
  transition: 0.3s;
}

.right-nav a:hover {
  color: white;
}

.right-nav a.active {
  color: var(--zephyr-green);
}

#tuna {
  display: flex !important;
  flex-direction: row !important;
  overflow: hidden;
}


footer.page-footer {
  padding-top: 0;
  text-align: right;
}



.card-action {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.user-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.user-profile {
  background-color: black;
  height: 46px;
  width: 46px;
  gap: 10px;
}

.user-names {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}



.post-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.user-avatar {
  width: 46px;
  height: 46px;
  background-color: aquamarine;
}

.user_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.username {
  font-weight: 600;
  line-height: 16px;
}

.displayname {
  line-height: 30px;
  color: var(--sec-font-color);
}

.post_relative-time {
  margin: 0px;
  color: var(--sec-font-color)
}

hr {
  border: 0.1rem solid var(--hr-color);
}

#attach-form {
  display: flex;
}

#attach-btn {
background-color: transparent;
border: none;
color: white;
}

.post-image {
  padding: 0;
  width: 100%;
  height: auto;
}

.post-button {
  display: flex;
  align-self: flex-end;
  font-family: 'Manrope', sans-serif;
  margin-top: 8px;
  width: 70px;
  height: 30px;
  background-color: var(--zephyr-green);
  color: var(--main-bg-color);
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}

.post-button:hover {
  font-family: 'Manrope', sans-serif;
  margin-top: 8px;
  width: 70px;
  height: 30px;
  background-color: var(--zephyr-green-hover);
  color: var(--main-bg-color);
  border: none;
  border-radius: 4px;
}

.tiny-nav {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  bottom: 16px;
}

.tiny-nav a {
  color: var(--sec-font-color);
  margin: 0.3em 0.3em;
}

.tiny-nav a:hover {
text-decoration: underline;
}

.post-form {
  background-color: white;
  border: none;
  border-radius: 4px;
  min-height: 100px;
  padding: 8px;
  resize: none;
}

/* about  */

#about_page {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#about_container {
  max-width: 100%;
  min-height: 20vw;
  background: linear-gradient(45deg, #a700ff, #4d19db);
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#about_nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

#zephyr {
  font-size: 5em;
}

#logo {
  width: 150px;
}

#about_nav #about_ul {
  flex: 1;
  text-align: right;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

#about_nav #about_ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

#btn {
  border: 2px solid #fff;
  padding: 6px 25px;
  border-radius: 30px;
  margin-left: 30px;
}

#about_nav #btn:hover {
  background: #fff;
  color: #4d19db;
  font-weight: 500;
  transition: 0.1s;
}

#row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: space-between;
}

#col-1 {
  flex-basis: 40%;
  min-width: 300px;
  margin-bottom: 30px;
  position: relative;
}

#col-2 {
  flex-basis: 55%;
  min-width: 300px;
  margin-bottom: 20px;
}

#col-1 img {
  width: 100%;
}

#col-2 h1 {
  font-size: 62px;
  font-weight: 600;
}

#col-2 p {
  margin: 10px 0 50px;
  max-width: 580px;
}

#col-2 #btn {
  margin-left: 0;
  margin-right: 30px;
  background: #fff;
  color: #4d19db;
  font-weight: 500;
}

#col-2 #btn:hover {
  background: rgb(230, 234, 236);
  transition: 0.2s;
}

#elements {
  position: absolute;
  left: 0;
  top: 0;
  animation: move 2.5s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-15px, 0px);
  }
  50% {
    transform: translate(0px, -15px);
  }
  100% {
    transform: translate(-15px, 0px);
  }
}

#triangle1 {
  position: absolute;
  left: 50%;
  top: -180px;
  transform: translate(-50%);
  width: 400px;
  z-index: -1;
  opacity: 0.7;
}

#triangle2 {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  z-index: -1;
  opacity: 0.7;
}

#circle {
  position: absolute;
  right: -180px;
  bottom: -300px;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

#about_span {
  color: yellow;
}

#about2 {
  max-width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #333333
}

#about3 {
  max-width: 100%;
  height: 500px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #333333;
}

#about4 {
  max-width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #333333
}

#about2, #about3, #about4 {
  padding: 0 200px;
}

#login_img {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-blend-mode: normal;
}

#social_img {
  height: auto;
  width: 100%;
  overflow: hidden;
}

#about_content {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
  justify-content: space-between;
}

#copy, #marketing_img, #connect {
  width: 45%;
  height: auto;
}

#about_foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 80px;
  width: 100vw;
  background: linear-gradient(45deg, #a700ff, #4d19db);
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#logo_about{
  height: auto;
  width: 170px;
  align-self: center;
  justify-self: flex-start;
}



